{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true
}
